$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../../dist/img/background.jpg);
$background-opacity: 0.8;
@mixin easeOut {
  transition: all 0.75s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      //& treats as psuedo element that transpiles after above image
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

//Set text color based on lightness
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query mixin
@mixin mediaSm {
  //any media added here will only work if 500px or less
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  //any media added here will only work if 768px or less
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  //any media added here will only work if 769 up to 1170
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  //any media added here will only work if 500px or less
  @media screen and (min-width: 1171px) {
    @content;
  }
}
